* {
    --main-color: #101828;
    --secondary-color: #a9792b;
    --main-text-color: #e5e7eb;
    --secondary-text-color: #99a1af;

    border: 0;
    margin: 0;
    padding: 0;

    background-color: var(--main-color);
    font-family: Inter, ui-serif;
}

.hero {
    height: min-content;
    width: 100%;
    text-align: center;
}

#hero-title {
    color: var(--main-text-color);
    font-size: 70px;
    padding: 20px;
}

#hero-description {
    color: var(--secondary-text-color);
    font-size: 20px;
    padding: 0 20px 20px 20px;
}

.list {
    color: var(--main-text-color);
    height: 400px;
    text-align: center;
}

.list-item {
    display: inline-block;
    margin: 0 25px;
}

.link {
    color: var(--secondary-color);
    font-style: italic;
    text-decoration: none;
}

#list-title {
    font-weight: normal;
    margin-bottom: 35px;
}