* {
    --main-color: #101828;
    --secondary-color: #a9792b;
    --main-text-color: #e5e7eb;
    --secondary-text-color: #99a1af;

    border: 0;
    margin: 0;
    padding: 0;

    background-color: var(--main-color);
    font-family: Inter, ui-serif;
    text-align: center;
}

body {
    /* VISIBILTY HIDDEN FOR THE ELEMENTS BE INVISIBLE WHEN ENTERING PAGE */
    /* COWORKING WITH THE fade-up ANIMATION */
    visibility: hidden;
}

/* GLOBAL CLASSES */
.inner-title {
    color: var(--main-text-color);
    font-size: 35px;
    padding-bottom: 15px;
    animation: fade-up 1s 1.5s forwards;
}

.inner-texts {
    color: var(--secondary-text-color);
    font-size: 18px;
    padding-bottom: 22px;
    margin: 0 60px;
    animation: fade-in 1s 2.5s forwards;
}

/* SPECIFIC CLASSES */
.main-title {
    color: var(--secondary-color);
    font-size: 50px;
    font-style: italic;
    padding: 20px;
    animation: fade-up 1s 0.5s forwards;
}

.link {
    padding-top: 5px;
    padding-bottom: 25px;
}

#home-link {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: var(--secondary-color);
    animation: fade-in 1s 3.5s forwards;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}

ol {
    list-style-position: inside;
}

#img {
    border-radius: 20px;
    margin: 20px;
}

ul li::marker,
ol li::marker {
    color: var(--secondary-color);
}

ol li,
ul li {
    padding: 5px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.8);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
        visibility: visible;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }
}